%html
  %head
    %title Date and Time
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/styles.css"}
  %body
    .container
      .clock-wrap
        .clock-face
          .clock-center
      .content-wrap
        .content-cut
        .alarm
        .stopwatch
        .time
          %h1 July 08
          %br
          %h2 2013
        .notes
          %ul
            %li Hair appointment @ 2:00
            %li Dad's birthday
